@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fffef9;
  font-family: "Ubuntu", sans-serif;
}

button,
input,
textarea {
  font-family: "Ubuntu", sans-serif;
  outline: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}
