.todos {
  margin-top: 50px;
  display: flex;
  justify-content: center;

  &_box {
    width: 500px;
    padding: 40px;

    background: #fff;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
    form {
      display: flex;
      align-items: center;
      height: 40px;
      gap: 20px;
      input {
        width: 100%;
        height: 100%;
        border: 1px solid #dbdbdb;
        padding: 0 10px;
        border-radius: 5px;
      }

      button {
        height: 100%;
        padding: 10px;
        border: none;
        background: rgb(22, 115, 255);
        color: #fff;
        border-radius: 5px;
      }
    }
  }

  &_list {
    margin-top: 40px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      border-radius: 5px;
      background: rgb(231, 231, 231);
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      overflow: hidden;

      &.completed {
        text-decoration: line-through;
      }

      > div {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-50px);
        transition: all 0.2s;
      }

      &:hover {
        transform: scale(1.06);

        > div {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
  }

  &_colors {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > div {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
